.container { 
	margin-top:7%; 
	width:100%;
	border-radius: 4px; 
	border-bottom: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 2px 0 #9c9c9c;
	box-shadow: 0 1px 2px 0 #9c9c9c; 
	margin-top:180px;
}

.start-container { 
	width:720px;
	margin: 10% auto;
	text-align:center;
	color: #FFF;
}

.cover-img { 
	width:100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;}

.profile {
	margin-top: 0px;
	border-radius: 4px;
}

.col-md-5 {
	background:#090;}

IMG.profile-img {
	border-radius:4px;
	width:180px;
}

#talking-to {
	margin-top: -25px;
}

/* BUTTONS */

#new-match {
	margin-top: -25px;
}

.start_button {
	margin: 20px 10px 20px 10px;
	width: 96%;
}

.links { 
	margin-left:10px;
}

.links ul li { 
	display:inline-block; 
	margin-right:20px;}

.links span {
	display:inline-block; 
	margin:55px 0px; 
	color:#333; 
	font-weight:900; 
	text-shadow:none; 
	font-size:1.2em;
}

a.ask-profile {
	display:inline-block; 
	padding:6px 9px; 
	font-size:0.75em; 
	font-weight:100; 
	background: #ededed; 
	border-radius: 3px; 
	color:#666; 
	margin-left:20px; 
	border: 1px solid #dcdcdc; }

a.ask-profile:hover {
	color:#333;}

/* STYLE FOR CHAT CONTAINER */

#chat {
	height:310px; 
	width:100%; 
	text-align:left; 
	background:#f1f1f1; 
	border-top: 1px solid #cacaca;  
	border-bottom: 1px solid #d4d4d4; 
	overflow-y: scroll;
	overflow-x: scroll;
	-webkit-box-shadow:inset 0 2px 8px 0px #dbdbdb;
	box-shadow:inset 0 2px 8px 0px #dbdbdb; 
	text-shadow: none;
}

.chat-message { 
	margin: 0;
	display:block; 
	list-style:none; 
	border-bottom: 1px solid #dedede; 
	border-top: 1px solid #FFF; 
	padding:10px 0px; line-height:1.4em; 
	color:#333; font-size:0.9em; 
	padding:10px 15px; background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.padding-15 {
	padding:15px;}

.field {
	width:100%; 
	padding:10px; 
	color: #666; 
	border-radius: 4px; 
	border: none; 
	font-size:1.6em; 
	outline:none;}

.footer {
	width:620px; 
	text-align:center; 
	font-weight:100; 
	color:#7e7e7e; 
	background:#ececec; 
	padding:10px; 
	border-top: 1px solid #cdcdd1; 
	border-bottom-left-radius: 4px; 
	border-bottom-right-radius: 4px;}

.fbpic {
	position: relative;
	height: 239px;
	width: 180;
	margin-top: -150px;
}

.profile-photo {
	position: absolute;
	margin-bottom: 3px;
	bottom: 0;
}

/* For large screens */

@media (min-width: 992px) {	
	.container { 
		background: #FFF;
		width:620px;}
}

/* For phones */

@media (max-width: 991px) {
	.container {
		background: #FFF; 
		width:100%;
		margin-top: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;}
		
	.start-container { 
		width:100%;}
	
	.profile {
		margin-top:0px;}
	
	.chat {
		margin-top:-55px;}
	
	.field {
		font-size:1.4em;}
	
	.footer  {
		width:100%;}
	
	.links span {
		font-size:2em; 
		margin-top:0px; 
		text-align:center;}
	
	.links {
		text-align:center; 
		font-size: 0.5em; 
		width:100%; 
		margin-left:-4%;}
	
	a.like-btn, a.random-btn {
		font-size:1.7em;}
	
	a.like-btn {
		display:block; 
		width:100%; 
		margin-bottom:10px;}

	.fbpic {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 45px;
		position: static;
		display: block;
		padding: 20px;
	}
	
	IMG.profile-img {
		margin: 10% auto; 
		width:180px;
		background: #FFF;
		padding:4px; 
		border-radius: 100%;
		margin-bottom:-25px;}
}
